/***************
**** COLORS ****
***************/
$mulberry: #cf448c;
$navy: #000080;

// shades
$white-smoke: #f5f5f5;
$whisper-grayscale: #e8e8e8;

// Branding
$brand-blue: $navy;
$brand-pink: $mulberry;

$light-gray: $whisper-grayscale;

$material-light: (
  "background": $white-smoke
);

$body-font-family: "Roboto Slab";
$heading-font-family: "Roboto Slab";

$headings: (
  "h1": (
    "font-family": $heading-font-family
  ),
  "h2": (
    "font-family": $heading-font-family
  ),
  "h3": (
    "font-family": $heading-font-family
  ),
  "h4": (
    "font-family": $heading-font-family
  ),
  "h5": (
    "font-family": $heading-font-family
  ),
  "h6": (
    "font-family": $heading-font-family
  )
);
